.selectWrapper {
  position: absolute;
  padding: 5px 0;
  max-height: 23px;
  width: auto;
  min-width: 135px;
  max-width: 150px;
  overflow: hidden;
  transition: .3s max-height ease-in-out;
  &.open {
    max-height: 600px;
  }
  &.styled {
    min-height: 50px;
    min-width: 300px;
    padding: 16px 19px;
    border: 0.5px solid #252525;
    background-color: #FFFFFF;
  }
  &.big {
    min-width: 170px;
  }
  .select {
    display: flex;
    flex-direction: column;
    min-width: 110px;
    .selectTrigger {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      width: 100%;
      background: transparent;
      cursor: pointer;
      &.styled {
        justify-content: space-between;
        margin-bottom: 15px;
      }
      &.big {
        justify-content: space-between;
      }
      .selectedValue {
        margin-right: 9px;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        color: #252525;
      }
      .arrow {
        margin-top: 1px;
        height: 6px;
        width: 10px;
        transition: .3s transform ease-in-out;
        &.open {
          transform: rotate(180deg);
        }
      }
    }
    .customOptions {
      padding-right: 10px;
      width: 100%;
      min-width: 98px;
      max-height: 200px;
      overflow: auto;
      background-color: #FFFFFF;
      &.big {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 3px;
      }
      .customOption {
        display: block;
        padding: 3px 0;
        text-align: left;
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        color: #252525;
        &:not(:last-child) {
          border-bottom: 1px solid #E0BEA2;
        }
        &:hover {
          cursor: pointer;
          background-color: rgba(224, 190, 162, 0.4);
        }
        &.active {
          color: #E0BEA2;
        }
      }
    }
  }
}