.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  &.hidden {
    display: none;
  }
  .paginationItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 22px;
    border: 1px solid #E0BEA2;
    border-radius: 50px;
    cursor: pointer;
    transition: box-shadow .2s ease-in-out,  border-color .2s ease-in-out;
    &:hover {
      border-color: #CCA88A;
      box-shadow: 0 3px 3px rgba(37, 37, 37, 0.07);
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
    &.active {
      background-color: #E0BEA2;
      color: #FFFFFF;
    }
  }
  .arrowContainer {
    cursor: pointer;
    .arrow {
      width: 10px;
    }
    &.disabled {
      cursor: default;
      .arrow {
        visibility: hidden;
      }
    }
  }
  .arrowLeftContainer {
    margin-right: 10px;
    .arrowLeft {
      transform: rotate(90deg);
    }
  }
  .arrowRight {
    transform: rotate(270deg);
  }
}